<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="platform-shared" value="https://nuget.pkg.github.com/wellaya/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="platform-shared">
			<package pattern="Platform.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<platform-shared>
			<add key="Username" value="%GITHUB_ACTOR%" />
			<add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
		</platform-shared>
	</packageSourceCredentials>
</configuration>